body {
  background: url(../assets/bgLoginCadastro.png);
  height: 100vh;
  background-size: cover;
  background-position: 15%;
}

nav {
  background-color: #002d40;
}

.p {
  color: white;
  cursor: default;
}

.p:hover {
  color: white;
}

.txt-nav {
  color: white;
}

.txt-nav:hover {
  color: gray;
}

label {
  color: white;
  margin: 0 !important;
}
input[type="text"],
[type="number"],
[type="email"],
[type="password"] {
  background-color: #d9d9d9;
  border-radius: 10px;
}
.cardCadastro {
  box-shadow: 0px 4px 36px 0px #000;
}
.button {
  border-radius: 45px;
  color: white;
  background: #026874;
  font-size: 19px;
  filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 1))
    drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.795));
}
.divBtn {
  width: 48%;
  position: absolute;
}

@media screen and (max-width: 451.98px) {
  label{
    font-size: 8px;
  }
    .divBtn {
    width: 48%;
  }
}
@media screen and (min-width: 450px) and (max-width: 980.98px) {
    label{
        font-size: 10px;
      }
  }
@media screen and (min-width: 1520px) and (max-width: 1614.98px) {
  .divBtn {
    width: 45%;
  }
}

@media screen and (min-width: 1615px) and (max-width: 1679.98px) {
  .divBtn {
    width: 45%;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1760.98px) {
  .divBtn {
    width: 37%;
  }
}
@media screen and (min-width: 1761px) and (max-width: 2100px) {
  .divBtn {
    width: 37%!important;
  }
}
