body {
  background: url("../assets/bgLoginCadastro.png");
  height: 100vh;
  background-size: cover;
  background-position: 15%;
}

nav {
  background-color: #002d40;
}

.p {
  color: white;
  cursor: default;
}

.p:hover {
  color: white;
}

.txt-nav {
  color: white;
}

.txt-nav:hover {
  color: gray;
}

label {
  color: white;
  margin: 0 !important;
}

input[type="text"],
[type="number"],
[type="email"],
[type="password"] {
  background-color: #d9d9d9;
  border-radius: 10px;
}

.cardCadastro {
  box-shadow: 0px 4px 36px 0px #000;
}

.button {
  border-radius: 45px;
  color: white;
  background: #026874;
  font-size: 19px;
  filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 1))
    drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.795));
}
.button:hover {
  background: #03444b !important;
}
.divBtn {
  width: 32%;
  position: absolute;
}
@media screen and (max-width: 451.98px) {
  label {
    font-size: 8px;
  }
  .divBtn {
    width: 80% !important;
  }
}
@media screen and (min-width: 450px) and (max-width: 654.98px) {
  label {
    font-size: 10px;
  }
  .divBtn {
    width: 80% !important;
  }
}
@media screen and (min-width: 655px) and (max-width: 761.98px) {
  .divBtn {
    width: 70% !important;
  }
}
@media screen and (min-width: 762px) and (max-width: 804.98px) {
  .divBtn {
    width: 65% !important;
  }
}
@media screen and (min-width: 805px) and (max-width: 900.98px) {
  .divBtn {
    width: 60% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 980.98px) {
  .divBtn {
    width: 50% !important;
  }
}
@media screen and (min-width: 981px) and (max-width: 1100.98px) {
  .divBtn {
    width: 48% !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300.98px) {
  .divBtn {
    width: 40% !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1482.98px) {
  .divBtn {
    width: 35% !important;
  }
}
@media screen and (min-width: 1483px) and (max-width: 1519.98px) {
  .divBtn {
    width: 35% !important;
  }
}
@media screen and (min-width: 1520px) and (max-width: 1614.98px) {
  .divBtn {
    width: 30% !important;
  }
}

@media screen and (min-width: 1615px) and (max-width: 1679.98px) {
  .divBtn {
    width: 30% !important;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1760.98px) {
  .divBtn {
    width: 28% !important;
  }
}
@media screen and (min-width: 1761px) and (max-width: 2100px) {
  .divBtn {
    width: 23% !important;
  }
}
